node_modules
.idea
coverage
dist
_book
.DS_Store
.asciidoctor/

# https://raw.githubusercontent.com/mraible/infoq-mini-book/master/.gitignore
######################
# Project Specific
######################
/src/main/webapp/dist

######################
# Node
######################
/node_modules/**

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/**
/target/**

######################
# Gradle
######################
.gradle/**

######################
# Ruby
######################
/.bundle/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/asciidoctor-pdf/
/build/**
/bin/**
/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# My files
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/Makefile .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/Gemfile .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/Gemfile.lock .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/_conf .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/_resources .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/extensions .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/fonts .
# ln -s ~/OneDrive/Authoring/dsaJS/asciidoc/book/images .
######################
# Gemfile
# Gemfile.lock
# Makefile
# _conf
# _resources
# extensions
# fonts


######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar
